body{
    background-color: rgb(31, 1, 52);
    font-family: cursive;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    color: azure;
}
button{
    color: rgb(227, 7, 7);
    font-size: 30px;
    height: 150px;
    width: 150px;
    border-radius: 45px ;
    margin: 20px;
}
.container{
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}
.w{
    background-image: url("./images/tom1.png");
}
.a{
    background-image: url("./images/tom2.png");
}
.s{
    background-image: url("./images/tom3.png");
}
.d{
    background-image: url("./images/tom4.png");
}
.l{
    background-image: url("./images/kick.png");
}
.k{
    background-image: url("./images/crash.png");
}
.j{
    background-image: url("./images/snare.png");
}